/* 全体ページ幅を設定 */
body{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

/* 画像間隔なし */
img{
    vertical-align: middle;
    width: 100%;
    height: auto;
}

/* 追従ボタン */
.fixed_btn { 
    position: fixed;
    width: 100%;
    max-width: 1080px;
    align-items: center;
    bottom: 20px;
    margin: auto;
    animation-fill-mode: forwards;
    border-radius: 50px;
}

/* よくある質問 */
.accordion-001 {
    max-width: 1080px;
    margin-bottom: 7px;
    background-color: #ffffff;
    border-radius: 1px;
    border: 1px solid #fd578d;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.accordion-001 summary {
    display: flex;
    justify-content: space-between;
    text-align: left;
    position: relative;
    padding: 16px 16px 16px 50px;
    color: #ffffff;
    background: #fd578d;
    font-weight: 600;
    cursor: pointer;
}

.accordion-001 summary::-webkit-details-marker {
    display: none;
}

.accordion-001 summary::after {
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    content: '';
    transition: transform .3s;
}

.accordion-001[open] summary::after {
    transform: rotate(225deg);
}

.accordion-001 p {
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: 16px 16px 16px 50px;
    color: #333333;
    transition: none;
}

.accordion-001[open] p {
    text-align: left;
    position: relative;
    transform: none;
    opacity: 1;
}


.accordion-001 summary::before {
    font-size: 14px;
    line-height: 1;
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
    content: 'Q.';
    color: #ffffff;
}

.accordion-001 p::before {
    font-size: 14px;
    line-height: 1;
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
    content: 'A.';
    color: #fd578d;
}